@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Nunito, sans-serif;

}

.container-cd-admin {
  width: 100%;
  margin: 0 auto;
  background: #888585;
}

.container-cadastro-admin {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  
}

.logo-admin img{
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.wrap-cadastro-admin {
  width: 390px;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.cadastro-form-admin {
  width: 100%;
}
.cadastro-form-title-admin {
  font-family: Nunito, sans-serif;
  display: block;
  font-size: 30px;
  color: rgb(75, 75, 75);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 10px;
}

.cadastro-form-title-admin img {
  width: 155px;
  height: 55px;
  margin-right: 10px;
  position: auto;
}

.wrap-input-cd-admin {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgb(75, 75, 75);
  margin-bottom: 37px;
  
}

.input-cd{
  font-size: 15px;
  color: rgb(75, 75, 75);
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
  
}

.focus-input-cd-admin {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  color: rgb(75, 75, 75);
  font-family: Nunito, sans-serif;
  text-align: left;
}

.focus-input-cd-admin::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #de940a;
  background: -webkit-linear-gradient(to left, #de940a, #ff5c21);
  background: -o-linear-gradient(to left,#de940a, #ff5c21);
  background: -moz-linear-gradient(to left, #de940a, #ff5c21);
  background: linear-gradient(to left, #de940a, #ff5c21);
}

.focus-input-cd-admin::after {
  font-family: Nunito, sans-serif;
  font-size: 15px;
  color: rgb(56, 56, 56);
  line-height: 1.2;
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input-cd:focus {
  outline: 0;
}

.input-cd:focus+.focus-input-cd-admin::after {
  top: -15px;
}

.input:focus+.focus-input-cd-admin::before {
  width: 100%;
}

.has-val+.focus-input-cd-admin::after {
  top: -15px;
}

.has-val+.focus-input-cd-admin::before {
  width: 100%;
}

.container-cadastro-form-btn-admin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 13px;
}

.cadastro-form-btn-admin {
  font-size: 15px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #de940a;
  background: -webkit-linear-gradient(to left,#de940a, #ff5c21);
  background: -o-linear-gradient(to left, #de940a, #ff5c21);
  background: -moz-linear-gradient(to left,#de940a, #ff5c21);
  background: linear-gradient(to left, #de940a, #ff5c21);
}

.cadastro-form-btn-admin:hover {
  cursor: pointer;
}

.text-center-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.txt1-admin {
  font-size: 14px;
  color: rgb(75, 75, 75);
  line-height: 1.5;
  padding-right: 5px;
}


.wrap-input-cd-admin img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 8px;
  right: 0;
}

.balao-flutuante {
  height: 28px;
  position: absolute;
  border-radius: 5px;
  top: 50px;
  left: 0px;
  background-color: #c0c0c0;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  text-align: center;
  line-height: 10px;
}

p {
  color:rgb(75, 75, 75)
}

.container-seletor {
  font-size: 15px;
  color: rgb(75, 75, 75);
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
  font-family: Nunito, sans-serif;
  margin-bottom: 35px;
}

.title-seletor{
  display: block;
  margin-bottom: 5px;
  font-family: Nunito, sans-serif;
}

.seletor{
  font-size: 15px;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #ffffff;
  color: #000000;
  font-family: Nunito, sans-serif;
   
}

.seletor:hover{
  cursor: pointer;
}

option{
  text-align: center;
}

